<div class="xxx" *ngFor='let recipe of recipes'>
    <div class="image align">
        <img src={{recipes[sel].image}} alt="">

    </div>>
    <figcaption>
        {{recipes[sel].recipeDescription}}
    </figcaption>

</div>