<div class="header">
  <div class="logo">
    Nutritionist
  </div>

  <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="/generator" routerLinkActive="active">Generator</a>
  <a mat-button>About</a>

  <span class="user">
    <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
  </span>
</div>

<router-outlet></router-outlet>

<div class="footer container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2020 Sobol Alexandrina</p>
</div>
